@font-face{
    font-family: Montserra;
    font-weight: 100;
    src: url(../assets/fonts/Montserrat-Thin.ttf)
}
@font-face{
    font-family: Montserra;
    font-weight: 500;
    src: url(../assets/fonts/Montserrat-Medium.ttf)
}